<html class="" lang="en">
<head>
    {% load pages_tags mezzanine_tags i18n staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blood Bowl Club : Cognac</title>
    <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet" type="text/css">

    <meta class="foundation-mq">
    <link rel="stylesheet" href="{% static "css/menu.css" %}"/>
    <link rel="stylesheet" href="{% static "css/breadcrumb.css" %}"/>
    <link rel="stylesheet" href="{% static "css/title.css" %}"/>
    <link rel="stylesheet" href="{% static "css/common.css" %}"/>
</head>
<body style="background-color: #FAFAFA">
<style>.fi-social-facebook {
    color: dodgerblue;
    font-size: 2rem;
}

.fi-social-youtube {
    color: red;
    font-size: 2rem;
}

.fi-social-pinterest {
    color: darkred;
    font-size: 2rem;
}

i.fi-social-instagram {
    color: brown;
    font-size: 2rem;
}

i.fi-social-tumblr {
    color: navy;
    font-size: 2rem;
}

.fi-social-twitter {
    color: skyblue;
    font-size: 2rem;
}</style>
<div class="row columns">
<header>

    <div class="row">
        <img  src="{% static "img/header3.jpg" %}"  alt="la ligue de blood bowl de cognac"/>
    </div>

    <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium"
         data-responsivetoggle="ufg3je-responsivetoggle" style="display: none;">
        <button class="menu-icon" type="button" data-toggle=""></button>
        <div class="title-bar-title">Menu</div>
    </div>

    <div class="main-menu" id="main-menu">
        <div class="row">
            {% block navbar_dropdown_menu %}{% page_menu "pages/menus/dropdown.html" %}{% endblock%}
        </div>
    </div>

    <div class="row">
        <ul class="breadcrumb">
            {% spaceless %}
                {% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
            {% endspaceless %}
        </ul>
    </div>
</header>

{% block all_content %}{% endblock %}
{% block main %}{% endblock %}
<div class="row columns">
    <footer>
        <div class="row expanded callout secondary">
            <div class="large-4 columns">
                <h5>FLICKR IMAGES</h5>

                <div class="row small-up-4">
                    <div class="column"><img class="thumbnail" src="http://placehold.it/75" alt="image of space dog"></div>
                    <div class="column"><img class="thumbnail" src="http://placehold.it/75" alt="image of space dog"></div>
                    <div class="column"><img class="thumbnail" src="http://placehold.it/75" alt="image of space dog"></div>
                    <div class="column"><img class="thumbnail" src="http://placehold.it/75" alt="image of space dog"></div>
                    <div class="column"><img class="thumbnail" src="http://placehold.it/75" alt="image of space dog"></div>
                    <div class="column"><img class="thumbnail" src="http://placehold.it/75" alt="image of space dog"></div>
                    <div class="column"><img class="thumbnail" src="http://placehold.it/75" alt="image of space dog"></div>
                    <div class="column"><img class="thumbnail" src="http://placehold.it/75" alt="image of space dog"></div>
                </div>
            </div>
            <div class="large-4 columns">
                <h5>FLICKR IMAGES</h5>
                <span class="secondary label">Space</span>
                <span class="secondary label">Galaxies</span>
                <span class="secondary label">Milky Way</span>
                <span class="secondary label">Black Holes</span>
                <span class="secondary label">Rebels</span>
                <span class="secondary label">Death Star</span>
                <span class="secondary label">Republic</span>
                <span class="secondary label">R2D2</span>
            </div>
            <div class="large-4 columns">
                <h5>RANDOM MAG</h5>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti quam voluptatum vel repellat ab
                    similique molestias molestiae ea omnis eos, id asperiores est praesentium, voluptate officia nulla
                    aspernatur sequi aliquam.</p>
            </div>
        </div>
        <div class="row expanded">
            <div class="medium-6 columns">
                <ul class="menu">
                    <li><a href="#">Legal</a></li>
                    <li><a href="#">Partner</a></li>
                    <li><a href="#">Explore</a></li>
                </ul>
            </div>
            <div class="medium-6 columns">
                <ul class="menu align-right">
                    <li class="menu-text">Copyright © 2099 Random Mag</li>
                </ul>
            </div>
        </div>
    </footer>
    </div>
</div>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src={% static "js/vendor/cropper/dist/cropper.min.js" %}></script>
<script src="{% static "js/foundation.js" %}"></script>
{% block footer_js %}
{% include "includes/footer_scripts.html" %}
{% endblock %}
<script>
    $(document).foundation();
</script>
<script type="text/javascript" src="https://intercom.zurb.com/scripts/zcom.js"></script>


</body>
</html>