{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n staticfiles %}

{% block all_content%}
    <div class="row">

{% for post in posts reversed %}
    {%  if forloop.first %}
    </div>

    <div class="row grid">
    <figure class="effect-julia">
        <img src={{ MEDIA_URL }}{{ post.featured_image }} alt="img22">
        <figcaption>
            <h2><span>{{ post.title }}</span></h2>

            <div>
                <p>{{ post.generalpost.sub_title }}</p>
            </div>
            <a href="{{ post.get_absolute_url }}">View more</a>
        </figcaption>
    </figure>
    </div>

    {%  else %}

    {%  endif %}
    {%  endfor %}


<div class="row">
    <div class="large-8 columns" style="border-right: 1px solid #E3E5E8;">
        <hr>
        <div class="row column">
            <h4 style="margin: 0;" class="text-center">Actualités</h4>
        </div>
        <hr>
        <article>
            <div class="row">
                <div class="large-6 columns">
                    <p><img src="http://placehold.it/600x370&amp;text=Look at me!" alt="image for article"></p>
                </div>
                <div class="large-6 columns">
                    <h5><a href="#">'Death Star' Vaporizes Its Own Planet</a></h5>

                    <p>
                        <span><i class="fi-torso"> By Thadeus &nbsp;&nbsp;</i></span>
                        <span><i class="fi-calendar"> 11/23/16 &nbsp;&nbsp;</i></span>
                    </p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum
                        delectus aperiam nesciunt magni facilis ullam.
                    </p>
                    <p>
                        <span><i class="fi-comments"> 6 comments</i></span>
                        <span><i class="fi-social-facebook"> 6 comments</i></span>
                        <span><i class="fi-social-twitter"> 6 comments</i></span>

                    <br>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="large-6 columns">
                    <p><img src="http://placehold.it/600x370&amp;text=Look at me!" alt="image for article"></p>
                </div>
                <div class="large-6 columns">
                    <h5><a href="#">NASA's SLS Rocket Sheds Saturn V Color Scheme in Design Review</a></h5>

                    <p>
                        <span><i class="fi-torso"> By Thadeus &nbsp;&nbsp;</i></span>
                        <span><i class="fi-calendar"> 11/23/16 &nbsp;&nbsp;</i></span>
                        <span><i class="fi-comments"> 6 comments</i></span>
                    </p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum
                        delectus aperiam nesciunt magni facilis ullam.</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="large-6 columns">
                    <p><img src="http://placehold.it/600x370&amp;text=Look at me!" alt="image for article"></p>
                </div>
                <div class="large-6 columns">
                    <h5><a href="#">Ingredients for Life Were Always Present on Earth, Comet Suggests</a></h5>

                    <p>
                        <span><i class="fi-torso"> By Thadeus &nbsp;&nbsp;</i></span>
                        <span><i class="fi-calendar"> 11/23/16 &nbsp;&nbsp;</i></span>
                        <span><i class="fi-comments"> 6 comments</i></span>
                    </p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum
                        delectus aperiam nesciunt magni facilis ullam.</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="large-6 columns">
                    <p><img src="http://placehold.it/600x370&amp;text=Look at me!" alt="image for article"></p>
                </div>
                <div class="large-6 columns">
                    <h5><a href="#">Astronaut's Watch Worn on the Moon Sells for Record $1.6 Million</a></h5>

                    <p>
                        <span><i class="fi-torso"> By Thadeus &nbsp;&nbsp;</i></span>
                        <span><i class="fi-calendar"> 11/23/16 &nbsp;&nbsp;</i></span>
                        <span><i class="fi-comments"> 6 comments</i></span>
                    </p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum
                        delectus aperiam nesciunt magni facilis ullam.</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="large-6 columns">
                    <p><img src="http://placehold.it/600x370&amp;text=Look at me!" alt="image for article"></p>
                </div>
                <div class="large-6 columns">
                    <h5><a href="#">Interstellar Dust on the Galaxy's Magnetic Field | Space Wallpaper</a></h5>

                    <p>
                        <span><i class="fi-torso"> By Thadeus &nbsp;&nbsp;</i></span>
                        <span><i class="fi-calendar"> 11/23/16 &nbsp;&nbsp;</i></span>
                        <span><i class="fi-comments"> 6 comments</i></span>
                    </p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum
                        delectus aperiam nesciunt magni facilis ullam.</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="large-6 columns">
                    <p><img src="http://placehold.it/600x370&amp;text=Look at me!" alt="image for article"></p>
                </div>
                <div class="large-6 columns">
                    <h5><a href="#">Explore the Moon (Virtually) with These Awesome Global Maps</a></h5>

                    <p>
                        <span><i class="fi-torso"> By Thadeus &nbsp;&nbsp;</i></span>
                        <span><i class="fi-calendar"> 11/23/16 &nbsp;&nbsp;</i></span>
                        <span><i class="fi-comments"> 6 comments</i></span>
                    </p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum
                        delectus aperiam nesciunt magni facilis ullam.</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="large-6 columns">
                    <p><img src="http://placehold.it/600x370&amp;text=Look at me!" alt="image for article"></p>
                </div>
                <div class="large-6 columns">
                    <h5><a href="#">Best Space Books and Sci-Fi: A Space.com Reading List</a></h5>

                    <p>
                        <span><i class="fi-torso"> By Thadeus &nbsp;&nbsp;</i></span>
                        <span><i class="fi-calendar"> 11/23/16 &nbsp;&nbsp;</i></span>
                        <span><i class="fi-comments"> 6 comments</i></span>
                    </p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum
                        delectus aperiam nesciunt magni facilis ullam.</p>
                </div>
            </div>
            <hr>
            <ul class="pagination" role="navigation" aria-label="Pagination">
                <li class="disabled">Previous <span class="show-for-sr">page</span></li>
                <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
                <li><a href="#" aria-label="Page 2">2</a></li>
                <li><a href="#" aria-label="Page 3">3</a></li>
                <li><a href="#" aria-label="Page 4">4</a></li>
                <li><a href="#" aria-label="Next page">Next <span class="show-for-sr">page</span></a></li>
            </ul>
        </article>
    </div>
    <div class="large-4 columns home-right-panel">
        <hr>
        <div class="row column">
            <h4 class="title text-center">Derniers résultats</h4>
        </div>
        <hr>
        <div class="day-block">
            <h4 class="date">vendredi 12 novembre 2016</h4>
            <p class="team-name">
                <span class="score"><img class="team-icon" src="{% static "img/orcs.jpeg" %}">&nbsp;&nbsp;los crétinos nabos</span><strong>1 </strong>(3)
            </p>
            <p class="team-name">
                <span class="score"><img class="team-icon" src="{% static "img/human.jpg" %}">&nbsp;&nbsp;los crétinos nabos</span><strong>0 </strong>(1)
            </p>
            </br>
            <p class="team-name">
                <span class="score"><img class="team-icon" src="{% static "img/chaos.png" %}">&nbsp;&nbsp;los crétinos nabos</span>T
            </p>
            <p class="team-name">
                <span class="score"><img class="team-icon" src="{% static "img/chaosdwarf.png" %}">&nbsp;&nbsp;los crétinos nabos</span>T
            </p>
            </br>
        </div>
        <hr>
        <div class="day-block">
            <h4 class="date">vendredi 12 novembre 2016</h4>
            <p class="team-name">
                <span class="score"><img class="team-icon" src="{% static "img/orcs.jpeg" %}">&nbsp;&nbsp;los crétinos nabos</span>T
            </p>
            <p class="team-name">
                <span class="score"><img class="team-icon" src="{% static "img/orcs.jpeg" %}">&nbsp;&nbsp;los crétinos nabos</span>T
            </p>
            </br>
            <p class="team-name">
                <span class="score"><img class="team-icon" src="{% static "img/orcs.jpeg" %}">&nbsp;&nbsp;los crétinos nabos</span>T
            </p>
            <p class="team-name">
                <span class="score"><img class="team-icon" src="{% static "img/orcs.jpeg" %}">&nbsp;&nbsp;los crétinos nabos</span>T
            </p>
            </br>
            <p class="team-name">
                <span class="score"><img class="team-icon" src="{% static "img/orcs.jpeg" %}">&nbsp;&nbsp;los crétinos nabos</span>T
            </p>
            <p class="team-name">
                <span class="score"><img class="team-icon" src="{% static "img/orcs.jpeg" %}">&nbsp;&nbsp;los crétinos nabos</span>T
            </p>
            </br>
        </div>
        <hr>
        <div class="row column">
            <h4 class="title text-center">Classement</h4>
        </div>
        <hr>
        <table class="column">
            <tbody>
            <tr>
                <td>1</td>
                <td>equipe1</td>
                <td>coach</td>
            </tr>
            <tr>
                <td>1</td>
                <td>equipe1</td>
                <td>coach</td>
            </tr>
            <tr>
                <td>1</td>
                <td>equipe1</td>
                <td>coach</td>
            </tr>
            </tbody>
        </table>
            <hr>

                <div class="row column">
                    <p class="lead">FROM OUR FRIENDS</p>

                    <p><img src="http://placehold.it/400x300&amp;text=Buy Me!" alt="advertisement of ShamWow"></p>
                </div>
                <br>

                <div class="row column">
                    <p class="lead">TRENDING POSTS</p>

                    <div class="media-object">
                        <div class="media-object-section">
                            <img class="thumbnail" src="http://placehold.it/100">
                        </div>
                        <div class="media-object-section">
                            <h5>All I need is a space suit and I'm ready to go.</h5>
                        </div>
                    </div>
                    <div class="media-object">
                        <div class="media-object-section">
                            <img class="thumbnail" src="http://placehold.it/100">
                        </div>
                        <div class="media-object-section">
                            <h5>Are the stars out tonight? I don't know if it's cloudy or bright.</h5>
                        </div>
                    </div>
                    <div class="media-object">
                        <div class="media-object-section">
                            <img class="thumbnail" src="http://placehold.it/100">
                        </div>
                        <div class="media-object-section">
                            <h5>And the world keeps spinning.</h5>
                        </div>
                    </div>
                    <div class="media-object">
                        <div class="media-object-section">
                            <img class="thumbnail" src="http://placehold.it/100">
                        </div>
                        <div class="media-object-section">
                            <h5>Cold hearted orb that rules the night.</h5>
                        </div>
                    </div>
                </div>

        </div>
    </div>
</div>
{% endblock %}