{% load i18n pages_tags %}
{% spaceless %}
{% if page_branch_in_menu %}

{% if branch_level == 0 %}
 <ul class="menu vertical medium-horizontal expanded medium-text-center dropdown"
            data-responsive-menu="drilldown medium-dropdown"
            role="menubar"
            data-dropdownmenu="dz08zy-dropdownmenu"
            data-responsivemenu="xr3a7m-responsivemenu"
            >
    {% for page in page_branch %}
    {% if not has_home and page.is_primary and forloop.first %}
    <li{% if on_home %} class="active {% endif %} "aria-haspopup="true">
            <a href="{% url "home" %}"><span><i class="fi-home"></i> &nbsp;&nbsp; {% trans "Home" %}</span></a>
        </li>
    {% endif %}
    {% if page.in_menu %}
    <li class="{% if page.has_children_in_menu %}dropdown{% endif %}
               {% if page.is_current_or_ascendant %}active has-submenu is-dropdown-submenu-parent{% endif %}
               dropdown-menu"
                role="menuitem"
                tabindex="0"
                title="Tech"
                aria-haspopup="true"
                id="{{ page.html_id }}">
        <a href="{{ page.get_absolute_url }}"
           {% if page.has_children_in_menu %} class="dropdown-toggle disabled data-toggle="dropdown" {% endif %}
           tabindex="-1"><span><i class="fi-{{ page.generalpage.menuIcon }}"> &nbsp;&nbsp; </i>{{ page.title }}</span>
            {% if page.has_children_in_menu %}<b class="caret"></b>{% endif %}
        </a>
        {% if page.has_children_in_menu %}{% page_menu page %}{% endif %}
    </li>
    {% endif %}
    {% endfor %}
    <li class=" dropdown-menu"
                role="menuitem"
                tabindex="0"
                title="Connexion"
                aria-haspopup="true"
                id="{{ page.html_id }}">
        <a href="/admin"
           tabindex="-1"><span><i class="fi-key"></i> &nbsp;&nbsp; Connexion</span><b class="caret"></b>
        </a>
        {% if page.has_children_in_menu %}{% page_menu page %}{% endif %}
    </li>
</ul>

{% else %}
    <ul class="submenu menu vertical is-dropdown-submenu first-sub" data-submenu="" aria-hidden="true" tabindex="-1" role="menu">
    {% for page in page_branch %}
    {% if page.in_menu %}
        <li class="{% if page.has_children_in_menu %}dropdown-submenu{% endif %}
               {% if page.is_current_or_ascendant %}active{% endif %}
               is-submenu-item
               is-dropdown-submenu-item"
            tabindex="0"
            role="menuitem">
            <a href="{{ page.get_absolute_url }}"><span><i class="fi-{{ page.generalpage.menuIcon }}"> </i>&nbsp;&nbsp; {{ page.title }}</span></a>
            {% if page.has_children_in_menu %}{% page_menu page %}{% endif %}
        </li>
    {% endif %}
    {% endfor %}
    </ul>
{% endif %}

{% endif %}
{% endspaceless %}